## Optimize the Model

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [4]:
# Drop the non-beneficial EIN column
application_df = application_df.drop(["EIN"], 1)
application_df = application_df.drop(["STATUS"], 1)
application_df = application_df.drop(["SPECIAL_CONSIDERATIONS"], 1)
application_df.head(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

                                     NAME  ... IS_SUCCESSFUL
0            BLUE KNIGHTS MOTORCYCLE CLUB  ...             1
1  AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...             1

[2 rows x 9 columns]

In [5]:
# display the number of unique values
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [6]:
# Look at NAME value counts for binning
name_counts = application_df["NAME"].value_counts()
#  How many name counts are greater than 5?
name_counts[name_counts > 5]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: NAME, Length: 354, dtype: int64

In [7]:
# Determine which values to replace if counts are less than or equal to 5.
names_to_replace = list(name_counts[name_counts <=5].index)

# Replace in dataframe
for app in names_to_replace:
  application_df['NAME'] = application_df["NAME"].replace(app,"Other")
    
# Check to make sure binning was successful
application_df["NAME"].value_counts()

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Determine which values to replace if application counts are less than 500
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
  application_df["APPLICATION_TYPE"] = application_df["APPLICATION_TYPE"].replace(app,"Other")
# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# Determine which values to replace if counts are less than 1000
classification_to_replace = list(class_counts[class_counts < 1000].index)
# Replace in dataframe
for cls in classification_to_replace:
  application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [13]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [14]:
# perform one-hot encoding on the data
application_with_dummies_df = pd.get_dummies(application_df)
application_with_dummies_df.head(5)

   ASK_AMT  IS_SUCCESSFUL  ...  INCOME_AMT_50M+  INCOME_AMT_5M-10M
0     5000              1  ...                0                  0
1   108590              1  ...                0                  0
2     5000              0  ...                0                  0
3     6692              1  ...                0                  0
4   142590              1  ...                0                  0

[5 rows x 396 columns]

In [16]:
# Split our preprocessed data into our features and target arrays
X = application_with_dummies_df.drop(["IS_SUCCESSFUL"], axis="columns").values
y = application_with_dummies_df["IS_SUCCESSFUL"].values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               39600

 dense_1 (Dense)             (None, 30)                3030

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 42,951
Trainable params: 42,951
Non-trainable params: 0
_________________________________________________________________

In [19]:

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5036 - accuracy: 0.7747
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4445 - accuracy: 0.7950
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4348 - accuracy: 0.7962
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4302 - accuracy: 0.7973
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4267 - accuracy: 0.7999
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4244 - accuracy: 0.8001
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4231 - accuracy: 0.7981
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4215 - accuracy: 0.8003
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4196 - accuracy: 0.8018
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4193 - accuracy: 0.8019
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4181 - accuracy: 0.8014
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4173 - accuracy: 0.8013
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4164 - accuracy: 0.8017
Epoch 14/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4158 - accuracy: 0.8018
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4149 - accuracy: 0.8025
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4144 - accuracy: 0.8035
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4139 - accuracy: 0.8028
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4126 - accuracy: 0.8037
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4124 - accuracy: 0.8034
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4120 - accuracy: 0.8031
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4117 - accuracy: 0.8035
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4110 - accuracy: 0.8040
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4104 - accuracy: 0.8043
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4098 - accuracy: 0.8049
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4093 - accuracy: 0.8047
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4090 - accuracy: 0.8045
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4087 - accuracy: 0.8050
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4081 - accuracy: 0.8054
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4079 - accuracy: 0.8059
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4071 - accuracy: 0.8057
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4078 - accuracy: 0.8056
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4064 - accuracy: 0.8059
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4064 - accuracy: 0.8056
Epoch 34/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4058 - accuracy: 0.8065
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4056 - accuracy: 0.8063
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4057 - accuracy: 0.8064
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4049 - accuracy: 0.8061
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4047 - accuracy: 0.8071
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4046 - accuracy: 0.8060
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4047 - accuracy: 0.8064
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4042 - accuracy: 0.8063
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4041 - accuracy: 0.8063
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4036 - accuracy: 0.8063
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4035 - accuracy: 0.8072
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4035 - accuracy: 0.8065
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4036 - accuracy: 0.8074
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4029 - accuracy: 0.8075
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4029 - accuracy: 0.8071
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4028 - accuracy: 0.8072
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4022 - accuracy: 0.8084
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4022 - accuracy: 0.8075
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4018 - accuracy: 0.8081
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4020 - accuracy: 0.8073
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4018 - accuracy: 0.8078
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8078
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8075
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8080
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4014 - accuracy: 0.8082
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4007 - accuracy: 0.8075
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4008 - accuracy: 0.8078
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4006 - accuracy: 0.8080
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4005 - accuracy: 0.8082
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4001 - accuracy: 0.8080
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4001 - accuracy: 0.8081
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4001 - accuracy: 0.8084
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4003 - accuracy: 0.8072
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3999 - accuracy: 0.8090
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3998 - accuracy: 0.8078
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3993 - accuracy: 0.8083
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3999 - accuracy: 0.8085
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4000 - accuracy: 0.8076
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3999 - accuracy: 0.8094
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3997 - accuracy: 0.8085
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3998 - accuracy: 0.8090
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3990 - accuracy: 0.8093
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3988 - accuracy: 0.8092
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3988 - accuracy: 0.8081
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3989 - accuracy: 0.8084
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3991 - accuracy: 0.8088
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3989 - accuracy: 0.8091
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3987 - accuracy: 0.8088
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3987 - accuracy: 0.8087
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3987 - accuracy: 0.8090
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3985 - accuracy: 0.8090
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3983 - accuracy: 0.8088
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3981 - accuracy: 0.8089
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3985 - accuracy: 0.8097
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3981 - accuracy: 0.8090
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3982 - accuracy: 0.8096
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3983 - accuracy: 0.8088
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3981 - accuracy: 0.8090
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3979 - accuracy: 0.8099
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3985 - accuracy: 0.8086
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3979 - accuracy: 0.8087
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3986 - accuracy: 0.8089
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3980 - accuracy: 0.8089
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3977 - accuracy: 0.8100
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3978 - accuracy: 0.8091
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3984 - accuracy: 0.8094
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3981 - accuracy: 0.8087

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4759 - accuracy: 0.7868 - 517ms/epoch - 2ms/step
Loss: 0.4758687913417816, Accuracy: 0.7868221402168274

In [22]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

USE A RANDOM FOREST CLASSIFIER ON THE DATASET

In [23]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [25]:
# Create a random forest classifier.
model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
model = model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = model.predict(X_test_scaled)
print(f" Random forest model accuracy: {accuracy_score(y_test,y_pred)*100:.2f}")

 Random forest model accuracy: 77.45